{% for tweet in object_list %}
<div class="tweet-background">
  <button onclick="getData({{tweet.id}})">更新</button>
  <ul>
    <li>name:{{ tweet.name }}</li>
    <li id="title-{{tweet.id}}">title:{{ tweet.title }}</li>
    <li id="content-{{tweet.id}}">tweet:{{ tweet.content }}</li>
  </ul>
</div>
{% endfor %}

<style>
  .tweet-background {
    text-align: center;
    background-color: rgb(202, 243, 255);
    max-width: 500px;
  }
</style>
<script>
  function getData(id) {
    fetch(`/api/tweet/${id}`)
    .then( (response) => response.json() )
    .then((json) =>{
      document.getElementById(`title-${id}`).innerText = json.title;
      document.getElementById(`content-${id}`).innerText = json.content;
    })
  }
</script>
