<h1>Djangoの学習記録</h1>
<main>
  <h2>class based view</h2>
  <p>このテンプレートは、class based viewで実装。Djangoのgenericsを使用するため簡単に実装できる。</p>
  <p>DjangoはMVT（model, view, template）で、ちと分かりづらいがViewはRailsで言うコントローラ的な役割を果たす。</p>
  <p>流れ的には、Viewでクラスを用意、URLパターンを設定、実際のテンプレートを作成、みたいな感じ。</p>
  <p>このHTMLは、path('helloworld2/', HelloWorldClass.as_view())、class HelloWorldClass(TemplateView):、hello.htmlによって実装されている。</p>

  <h2>コピペ用コマンド</h2>
  <p>docker-compose run --rm app python manage.py startapp helloworldapp</p>

  <h2>アプリを作ったら</h2>
  <p>プロジェクトのsettings.pyにあるINSTALLED_APPSにアプリ名を追加する。</p>
</main>
